body{
    overflow-x: hidden;

}
*{
 padding: 0px;
 margin: 0px;
 font-family: poppins,sans-serif;
}

.lg{
    background-color: hsl(180, 52%, 96%);
}
.lg2{
    background-color: hsl(180, 31%, 95%);
}
.dg{
    background-color: hsl(180, 8%, 52%)
}
.dgv{
    background:hsl(180, 14%, 20%)
}
@media (max-width: 640px){
   .diff{
    position: absolute;
    box-shadow: 4px 5px 20px 2px #0000000b;
    bottom: -80px;
    transform: translateX(-20px);
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
   }
   .diff2 {
       background-color: hsl(235, 24%, 19%);
   }
   .nav {
       background-image: url('./assets/bg-mobile-light.jpg');
   }
    .nav2 {
        background-image: url('./assets/bg-mobile-dark.jpg');
    }
}